body {
    background-image: url('./../bg.png');
    background-repeat: no-repeat;
    background-position: 100% 20%;
    background-size: 100%;
    color:black;
}

.start-btn {
    font-size:50px;
}

.jumbotron {
    background-color:#0184af; !important;
    color:#fff;
}

#game {
    display:none;
}

ul li{
    cursor:pointer;
}

.btn-primary {
    background-color:#ff8c00; !important;
}

.btn-primary:hover {
    background-color:#e78002; !important;
}

.glyph-right {
    margin-left:10px;
}

.glyph-left {
    margin-right:10px;
}