body {
    background-image: url('./../bg.png');
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    min-height:100%;
    color:black;
}

#overlayer {
    position: fixed;
    background-color:rgba(255,255,255,.5);
    width:100%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
}

.start-btn {
    font-size:50px;
}

.jumbotron {
    background-color:#0184af; !important;
    color:#fff;
}

#game {
    display:none;
}

ul li{
    cursor:pointer;
}

.btn-primary {
    background-color:#ff8c00; !important;
}

.btn-primary:hover {
    background-color:#e78002; !important;
}

.glyph-right {
    margin-left:10px;
}

.glyph-left {
    margin-right:10px;
}

#result {
    display:none;
}

.container {
    margin-top:100px; !important;
}